/* secondary : #aa00ff */

body, p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0; margin: 0;
}
p,h1,h2,h3,h4,h5,h6 { margin: 0; margin-bottom: 4px; }
.text-1, body {
    color: rgba(0,0,0,0.87);
}
.text-2 {
    color: rgba(0,0,0,0.54);
}
.text-title {
    font-size: 20px;
    font-weight: 500;
}
.text-headline {
    font-size: 24px;
    font-weight: normal;
}
.text-display-1 {
    font-size: 34px;
    font-weight: normal;
}
.text-display-2 {
    font-size: 45px;
    font-weight: normal;
}
.text-caption {
    font-size: 12px;
    font-weight: bold;
}
.text-accent {
    color: #f50057;
}


.bg-0, body {
    background: #FAFAFA;
}
.bg-1 {
    background: #E0E0E0;
}
.bg-dark {
    background: #212121;
}

.toolbar {
    position: relative;
    background: #2196f3;
	white-space: nowrap;
}
.toolbar--icon, .toolbar--text, .toolbar--item {
    padding: 16px;
    margin: 0;
    display: inline-block;
    color: #FFF;
    vertical-align: middle;
}
.toolbar--icon {
    text-decoration: none;
    border:0; outline:0;
}
.toolbar--icon:focus {
    background: rgba(0,0,0,0.07);
}
.toolbar--text {
    font-size: 20px;
    font-weight: 500;
}
input.toolbar--text {
    border: 0;
	outline: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 50%;
}
.toolbar--text::placeholder {
    color: rgba(255,255,255,0.7);
}
.toolbar--item-end {
    position: absolute;
    top: 0; right: 0;
}

.section { 
    padding: 16px;
}

.flatbtn, .raisedbtn {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
    text-align: center;
    padding: 0 16px;
    line-height: 36px;
    height: 36px;
    outline:0;
    cursor: pointer;
    text-decoration: none;
    color: #2196f3;
    display: inline-block;
}
.flatbtn:hover, .flatbtn:focus {
    background: rgba(153,153,153,0.2) !important;
}
.flatbtn:active {
    background: rgba(153,153,153,0.4) !important;
}
.raisedbtn {
    background: #2196f3;
    color: #FFF;
}
.raisedbtn:hover, .raisedbtn:focus {
    box-shadow: 0 2px 4px rgba(153,153,153,0.7);
}
.raisedbtn:active {
    box-shadow: 0 4px 8px rgba(153,153,153,0.7);
}
.raisedbtn.accent {
    background: #f50057;
}

.drawer {
    position: fixed;
    left: 0;
    top: 0; bottom: 0;
    background: #FFF;
    box-shadow: 0 0 16px rgba(0,0,0, 0.7);
    width: 340px;
    display: none;
}
.drawer-overlay {
    display: block;
    position: fixed;
    right: 0; top: 0; bottom: 0;
    left: 340px;
    background: rgba(0,0,0,0.4);
}
.drawer--item, .drawer--header {
    display: block;
    padding: 16px;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
.drawer--item:focus {
    background: #EEE;
}
.drawer--header {
    position: relative;
    background: #2196f3;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    height: 72px;
}
.drawer--header * {
    position: absolute;
    bottom: 16px;
    margin: 0;
}
.drawer hr {
    border: 1px solid #AAA;
    margin: 8px 0;
}

.textfield {
    border: 0;
	outline: 0;
    border-bottom: 1px solid rgba(0,0,0,0.42);
    padding: 0;
    padding-top: 16px;
    padding-bottom: 8px;
    background: transparent;
    color: rgba(0,0,0,0.87);
    font-family: 'Roboto', sans-serif;
}
.textfield::placeholder {
    color: rgba(0,0,0,0.54);
}
.textfield:focus {
    border-bottom: 2px solid #2196f3;
}

.list-item {
	color: rgba(0,0,0,0.87);
	text-decoration: none;
	outline: 0;
    padding: 16px;
}
.list-item--text {
	font-size: 16px;
}

.clickable {
    cursor: pointer;
}
.clickable:hover, .clickable:focus {
    background: rgba(0,0,0,0.07);
}